#portfolio {
    
    width: 80%;
    
    margin: 8rem auto;
    padding: 1rem 0;
  }
  
  .portfolio_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
  }
  .portfolio_item:hover{
    background-color: transparent;
    border: 2px solid var(--color-primary);
  }
  .portfolio_img {
    width: 100%;
    /*Setfixedwidth*/height: 200px;
    /*Setfixedheight*/object-fit: contain;
    /*Ensurestheimagecoversthecontainer*/border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
  
  .portfolio_content {
    margin-top: 1rem;
  }
  
  .portfolio_content h3 {
    margin: 1rem 0;
  }
  
  .portfolio_content p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .portfolio_cta {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .carousel .carousel-status{
    font-size: 1rem;
  }
  
  @media screen and (max-width: 600px) {
    #portfolio {
    
        width: 80%;
        
        margin: 0 auto;
        padding: 1rem 0;
      }
}
  